### Exercício 1

In [1]:
# importanto o sqlite3
import sqlite3

# Criando/conectando ao banco de dados:

conn = sqlite3.connect("modulo4.db") 
cursor = conn.cursor() 

# Criar tabela 1:

cursor.execute("CREATE TABLE dados_cadastrais (Id integer, nome text, sobrenome text, data_nasci integer, cpf integer, endereco text)");


# Criar tabela 2:
cursor.execute("CREATE TABLE dados_profissionais (Id integer, graduacao text, cargo text, salario float, tempo_casa integer)");

In [2]:
# Inserir dados na tabela 1:

cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')") 

conn.commit()

# Visualizando a tabela 1:

cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP'),
 (2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP'),
 (4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')]

In [3]:
# Inserir dados na tabela 2:

cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'professor', 3500.89, 3)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.8, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador', 3200.45, 1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'fisica', 'professor', 1890.33, 2)")
conn.commit()

# Visualizando a tabela 2:

cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'fisica', 'professor', 1890.33, 2)]

### Exercício 2

In [4]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'fisica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

### Exercício 3

In [5]:
cursor.execute("SELECT COUNT(Id) FROM dados_cadastrais")
cursor.fetchall()

[(4,)]

### Exercício 4

In [6]:
cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome=='silva' ORDER BY nome,sobrenome")
cursor.fetchall()

[(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')]

### Exercício 5

In [7]:
cursor.execute("SELECT cargo,SUM(salario) FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()

[('orientador', 6051.25), ('professor', 5391.219999999999)]